.themePicker {
  display: flex;
  margin: 0;
  position: relative;
  padding: 10px 0;
  justify-content: space-evenly;
  width: 100%;
  font-size: 14px;
  z-index: 10;
}

.themePicker li {
  border-radius: 4px;
  padding: 3px 5px;
}

.themePicker li:hover {
  transition: color 0.3s var(--customEase),
    background-color 0.3s var(--customEase);
  cursor: pointer;
  background-color: var(--text-color);
  color: var(--link-color);
}

.active {
  background-color: var(--text-color);
  color: var(--link-color);
}

@media (min-width: 700px) {
  .themePicker {
    position: absolute;
    top: 8px;
    right: 8px;
    flex-direction: column;
    align-items: flex-end;
    width: initial;
    padding: 0;
    gap: 10px;
  }
}
